<div ng-controller='TutorsController'>
  <!-- Your html here -->
  <div class="container">

    <a ui-sref="jobs">jobs!</a>
    <a ui-sref="matches">matches!</a>
  <!-- <a ui-sref="shorten">Shorten</a> -->
  <h2>Tutors</h2>
  </div>
  <div>
    <!-- <button class="fetch" ng-click="getTutors()">Fetch Tutors</button> -->
    <!-- <button class="fetchJobs" ng-click="logger()">log methods</button> -->
  </div>
  <div class="container-fluid">
    <table class="table table-hover table-responsive">
      <tr ng-repeat="tutor in data.tutors | orderBy: '-score'">
        <td>
          Score: {{tutor.score}} Name: {{tutor.name}}
        </td>
      </tr>
    </table>
  </div>
</div>