<div ng-controller='JobsController'>
  <!-- Your html here -->
  <div class="container">
    <a ui-sref="tutors">tutors!</a>
    <a ui-sref="matches">matches!</a>
  <!-- <a ui-sref="shorten">Shorten</a> -->
  <h2>Jobs</h2>
  </div>
  <!-- <div style="width:300px;">Search:
  <input ng-model="search.url" class="form-control" ></input>
  </div> -->
  <div>
    <!-- <button class="fetch" ng-click="getJobs()">Fetch Jobs</button> -->
    <!-- <button class="fetchJobs" ng-click="logger()">log methods</button> -->
  </div>
  <div class="container-fluid">
    <table class="table table-hover table-responsive">
      <tr ng-repeat="job in data.jobs | orderBy: '-offer'">
        <td>
          Offer: ${{job.offer}} Title: {{job.title}}
        </td>
      </tr>

    </table>
  </div>
</div>