<div ng-controller='JobsController'>
  <!-- Your html here -->
  <ul class="nav nav-pills">
    <li role="presentation"><a ui-sref="tutors">tutors!</a></li>
    <li role="presentation" class="active"><a ui-sref="jobs">jobs!</a></li>
    <li role="presentation"><a ui-sref="matches">matches!</a></li>
  </ul>

  <div class="container">
    
  <!-- <a ui-sref="shorten">Shorten</a> -->
  <h2>Jobs</h2>
  </div>
    <button class="btn btn-default" ng-click="hidden = !hidden;">Add a new Job</button>
    <form role="form" ng-hide="hidden">
      <div class="form-group">
        <label for="jobTitle">Job Title:</label>
        <input  class="form-control"  placeholder="jobName" ng-model="job.title">
      </div>
      <div class="form-group">
        <label for="offer">Offer</label>
        <input  class="form-control"  placeholder="offer" ng-model="job.offer">
      </div>
      <button class="btn btn-default" ng-click="postJob({title: job.title, offer: job.offer}); hidden = !hidden;">Add Job</button>
    </form>

  <div>
    <!-- <button class="fetch" ng-click="getJobs()">Fetch Jobs</button> -->
    <!-- <button class="fetchJobs" ng-click="logger()">log methods</button> -->
  </div>
  <div class="container-fluid">
    <table class="table table-hover table-responsive">
      <tr ng-repeat="job in data.jobs | orderBy: '-offer'">
        <td>Offer: ${{job.offer}}</td> <td> Title: {{job.title}}</td>
      </tr>
    </table>
  </div>
</div>