<div ng-controller='MatchesController'>
  <!-- Your html here -->
   <ul class="nav nav-pills">
     <li role="presentation" ><a ui-sref="tutors">tutors!</a></li>
     <li role="presentation"><a ui-sref="jobs">jobs!</a></li>
     <li role="presentation" class="active"><a ui-sref="matches">matches!</a></li>
   </ul>

  <div class="container">
  <!-- <a ui-sref="shorten">Shorten</a> -->
  <h2>Matches</h2>
  </div>
  <!-- <div style="width:300px;">Search:
  <input ng-model="search.url" class="form-control" ></input>
  </div> -->
  <div>
    <!-- <button class="fetch" ng-click="getJobs()">Fetch Jobs</button> -->
    <!-- <button class="fetchJobs" ng-click="logger()">log methods</button> -->
  </div>
  <div class="container-fluid">
    <table class="table table-hover table-responsive">
      <tr ng-repeat="match in data.matches.matches">
        <td>{{match.tutor.name}} (score: {{match.tutor.score}})</td>
        <td>{{match.job.title}} (offer: {{match.job.offer}})</td>
      </tr>

    </table>
  </div>

    <!-- <li ng-repeat="link in data.links | filter:search | orderBy:'-visits'" class="row"><span class="col-md-4"><a href='{{ "api/links/" + link.code }}'>{{ 'shortly.com/' + link.code }}</a><br />({{ link.url }})</span><span class="col-md-2">{{link.visits}}</span><span class="col-md-4">{{ link.title }}</span></li> -->
</div>